<div class="container">
    <div class="row">
        <div class="col s12">
            <table class="responsive-table" style="padding: 0;">
                <tr>
                    <td>Адрес</td>
                    <td ng-class="{
                'green lighten-1 center-align ' : (dev_id.device != null),
                'red lighten-3 center-align ' : (dev_id.device == null),
                'yellow lighten-1 center-align' : ($index+1 == selected_addr)
             }" style="cursor: pointer;" ng-repeat="dev_id in network track by $index" ng-click="selectAddress($index+1)">
                        {{ $index+1 }}
                    </td>
                </tr>
                <!--<tr>
                    <td>Device</td>
                    <td class="grey lighten-3" ng-repeat="dev_id in connected track by $index">{{ dev_id.id }}</td>
                </tr>-->
            </table>
        </div>
        <div class="col s4">
            <div ng-if="selected_addr == 0" class="row">
                <p>Выберите адрес из списка для дальнейших действий с ним</p>
            </div>
            <div ng-if="selected_addr > 0" class="row">
<!--                <p>Выбран адрес {{selected_addr}}</p>-->
                <div ng-show="network[selected_addr].device == null">
                    <h5>Добавить устройство</h5>
                    <ul>
                        <li style="cursor: pointer;" ng-repeat="device in types track by $index" ng-click="selectDeviceType(device.id)"
                            ng-class="{'green-text text-lighten-3' : (device.id == selected_device)}">{{device.name}}
                        </li>
                    </ul>
                </div>
                <div ng-hide="network[selected_addr].device == null">
                    <h5>Доступные команды</h5>
                    <table class="responsive-table">
                        <thead>
                            <tr>
                                <td>#</td>
                                <td>Команда</td>
                                <td>Точность</td>
                                <td>Единицы</td>
                                <td>Значение</td>>
                                <td>Ввод</td>
                                <td> </td>>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>0</td>
                                <td>0x0702</td>
                                <td>-</td>
                                <td>-</td>
                                <td>{{network[selected_addr].device.id}}</td>>

                            </tr>
                            <tr ng-repeat="cmd in network[selected_addr].device.commands track by $index">
                                <td>{{$index}}</td>
                                <td>0x{{cmd.code}}</td>
                                <td>{{ (cmd.divider > 0) ? (1/cmd.divider) : 1 }}</td>
                                <td>{{ (cmd.unit != null) ? cmd.unit : '-' }}</td>
                                <td>{{network[selected_addr].data[cmd.code]}}</td>
                                <td><input id="input_text" type="text" ng-model="nValue" class="validate"> </td>
                                <td class="valign-wrapper" ng-click="setValue(selected_addr, cmd.code, nValue)" class="btn-floating btn-small waves-effect waves-light"><i class="material-icons">send</i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col s8">
            <div ng-if="device_info.id != null">
                <div>
                    <div class="row valign-wrapper">
                        <div class="col s4">
                            <img ng-hide="device_info.content.image == null"
                                 src="../static/images/devices/{{device_info.content.image}}" alt="{{device_info.name}}"
                                 class="circle responsive-img"> <!-- notice the "circle" class -->
                            <div ng-show="device_info.content.image == null">No image</div>
                        </div>
                        <div class="col s8">
                            <h5>{{device_info.name}}</h5>
                            <span class="black-text">
                                <p ng-hide="device_info.content.description == null">{{device_info.content.description}}</p>
                                <p ng-show="device_info.content.description == null">No description</p>
                            </span>
                            <p ng-if="device_info.content.link != null"><a href="{{device_info.content.link}}"
                                                                           target="_blank">Web site description</a></p>
                            <!--                                <p><a href="#" ng-click="deleteDevice(selected)" class="valign-wrapper"><i class="small material-icons" >delete</i>Удалить</a></p>-->
                            <div>
                                <a ng-show="network[selected_addr].device == null" ng-click="addDevice(selected_addr, device_info.id)" class="waves-effect waves-light btn-small"><i class="material-icons left">add_circle_outline</i>Добавить</a>
                                <a ng-hide="network[selected_addr].device == null" ng-click="deleteDevice(selected_addr)" class="waves-effect waves-light btn-small valign-wrapper"><i class="material-icons left">remove_circle_outline</i>Удалить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>