<div class="container">
    <div class="row">
            <div class="col s1"></div>
            <div class="col s10">
                <table class="responsive-table" style="margin: 0; padding: 0; width: auto;">
                    <tr>
                        <td>Device</td>
                        <td ng-class="{
            'green lighten-3 center-align ' : ((dev_id.link == true) && (dev_id.device != null)),
            'red lighten-3 center-align ' : ((dev_id.link == false) && (dev_id.device != null)),
            'grey lighten-3 center-align ' : ((dev_id.link == false) && (dev_id.device == null))
         }" ng-repeat="dev_id in connected track by $index">
                            <a href="#" ng-if="dev_id.device != null" ng-click="selectAddress($index+1)">{{ $index+1 }}</a>
                            <a href="#" ng-if="dev_id.device == null" ng-click="selectAddress($index+1)">{{ $index+1 }}</a>
                        </td>
                    </tr>
                    <!--<tr>
                        <td>Device</td>
                        <td class="grey lighten-3" ng-repeat="dev_id in connected track by $index">{{ dev_id.id }}</td>
                    </tr>-->
                </table>
            </div>
            <div class="col s1"></div>
        </div>
        <div class="row">
            <div class="col s12">
                <div ng-if="selected == 0">
                    <p>Click any device at the table to see an information about</p>
                </div>
                <div ng-if="selected > 0">
                    <div class="col s4">
                          <select id="dev_type">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                          </select>
                          <label for="dev_type">Materialize Select</label>
                        </div>
                    <div ng-if="device_info.id != null">
                        <div class="card-panel grey lighten-5 z-depth-1">
                          <div class="row valign-wrapper">
                            <div class="col s4">
                              <img src="../static/images/devices/{{device_info.content.image}}" alt="{{device_info.name}}" class="circle responsive-img"> <!-- notice the "circle" class -->
                            </div>
                            <div class="col s8">
                              <h5>{{device_info.name}}</h5>
                                <span class="black-text">
                                    {{device_info.content.description}}
                                </span>
                                <p ng-if="device_info.content.link != null"><a href="{{device_info.content.link}}" target="_blank">Web site description</a></p>
                                <p><a href="#" ng-click="deleteDevice(selected)" class="valign-wrapper"><i class="small material-icons" >delete</i>Удалить</a></p>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div ng-if="device_info.id == null">
                        <h5>Добавить устройство</h5>

                        <div class="col s4">
                              <!-- Dropdown Trigger -->
                              <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Drop Me!</a>

                              <!-- Dropdown Structure -->
                              <ul id='dropdown1' class='dropdown-content'>
                                <li><a href="#!">one</a></li>
                                <li><a href="#!">two</a></li>
                                <li class="divider" tabindex="-1"></li>
                                <li><a href="#!">three</a></li>
                                <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
                                <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
                              </ul>
                        </div>
                        <div class="col s4"><a href="#" ng-click="addDevice(selected)" class="valign-wrapper"><i class="small material-icons" >add</i>Добавить</a></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col s9">
                <table class="responsive-table">
                    <thead>
                        <tr>
                            <th>Регистр</th>
                            <th>Значение</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(reg,value) in data">
                            <td>{{names[$index]}}</td>
                            <td><input type="text" ng-model="value"></td>
                            <td><i class="small material-icons" ng-click="setValue(reg, value)">send</i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col s3">
                <div ng-hide="link" class="valign-wrapper row">
                    <span class="left">Device is not connected</span>
                    <i class="medium material-icons right">cloud_off</i>
                </div>
                <div ng-show="link" class="valign-wrapper">
                    <span class="left">Device is connected</span>
                    <i class="medium material-icons right">cloud_done</i>
                </div>
            </div>
        </div>
</div>